@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

* {
  margin: 0;
  padding: 0;
  color: rgba(70, 70, 70, 1);
  font-family: 'Droid Sans Mono', courier, sans-serif;
}

body {
  overflow: hidden;
}

#patronName {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 1.5em auto 0;
  color: rgba(100, 100, 100, .7);
  text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff;
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

#balance {
  text-align: center;
  margin: .5em auto 0em;
  font-family: 'Droid Sans Mono', courier, sans-serif;
}

form#io {
  margin: 3em 0 2em;
  input {
    border: none;
    width: 50%;
    height: 3em;
    line-height: 3.1em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Droid Sans Mono', courier, sans-serif;
    font-weight: bold;
  }
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
  }
  :-moz-input-placeholder {
    color: rgba(255, 255, 255, 1);
  }
  ::-moz-input-placeholder {
    color: rgba(255, 255, 255, 1);
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
  }
  input[type=submit] {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .payment {
    background-color: rgba(30, 200, 30, .5);
    text-align: right;
    padding: 0 1em 0 0;
    margin: 0 0 0 -1em;
    -webkit-box-shadow: inset 10px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .purchase {
    background-color: rgba(235, 50, 50, .5);
    padding: 0 0 0 1em;
    margin: 0 -1em 0 0;
    -webkit-box-shadow: inset -10px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

#record {
  .lineItem {
    width: 50%;
    clear: both;
  }
  .credit {
    float: left;
    text-align: right;
    padding: 0 1em 0 0;
    margin: 0 0 0 -1em;
    font-family: 'Droid Sans Mono', courier, sans-serif;
  }
  .debit {
    float: right;
    padding: 0 0 0 1em;
    margin: 0 -1em 0 0;
    font-family: 'Droid Sans Mono', courier, sans-serif;
  }
}
