<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="js/angularApp.js"></script>
  </head>
  <body ng-app="tabMinder" ng-controller="MainCtrl">
    <h1 id="patronName">{{patronName}}</h1>
    <h2 id="balance" style="color: rgba({{(255 * (balance / delinquentAmount))| number: 0}}, 0, 0, 1);">{{balance}}</h2>
    <form id="io" ng-submit="addLineItem()">
      <input class="payment" type="text" placeholder="payment" ng-model="credit"><!--
      --><input class="purchase" type="text" placeholder="purchase" ng-model="debit">
      <input type="submit">
 </form> <!--io-->
    <div id="record">
      <div ng-repeat= "lineItem in lineItems" class="lineItem {{lineItem.type}}">
        {{lineItem.amount}} 
      </div> <!--.lineItem-->
    </div> <!--record-->
  </body>
</html>
